# Dependency directory
node_modules/
# Test coverage reports
coverage/
# This is where Bower puts the scripts
public/libs/
# Compiled CSS (let Grunt build style.css)
public/styles/
# VIM temp files
.*.swp
# NPM log output
npm-debug.log
keys.js
.env
# API config for third-party auth
providers.json
