<div class="logo">
  <span>divesit.es</span>
</div>
<filter-menu class="filter-menu"></filter-menu>
<div>
  <div ng-controller="MapController">
    <ui-gmap-google-map
    id="gmap-mapper"
    control="mapControl"
    events="map.events"
    options="map.options"
    center="map.center"
    zoom="map.zoom">
    <ui-gmap-markers
    control="markerControl"
    models="map.markers"
    events="map.markerEvents"
    options="'options'"
    coords="'loc'"
    icons="'icon'"
    doCluster="true"
    doRebuildAll="true"
    >
    </ui-gmap-markers>
    </ui-gmap-google-map>
  </div>
</div>
