<div>
  <!-- <h4>Comments</h4> -->
  <div ng-if="site.comments">
    <ul ng-repeat="comment in site.comments" class="list-unstyled">
      <li class="site-comment media">
      <div class="media-left">
        <a href="{{comment.user._id}}">
          <img ng-src="{{comment.user.picture}}" height="32px" width="32px" class="media-object">
        </a>
      </div>
      <div class="media-body">
        <span class="comment-date">{{ comment.updated_at | date : 'medium' }}</span>
        <a class="text-right" href="{{comment.user._id}}">{{ comment.user.displayName }}</a>
        <div>
          {{ comment.text }}
        </div>
      </div>
      </li>
    </ul>
  </div>
  <div ng-if="isAuthenticated()">
    <form class="comment-submission">
      <div class="form-group">
        <textarea class="form-control" rows="3" placeholder="Leave a comment" ng-model="commentText"></textarea>
      </div>
      <div class="form-group">
        <div class="text-right">
          <button type="button" class="btn btn-primary" ng-click="submitComment(commentText)">Submit</button>
        </div>
      </div>
    </form>
  </div>
  <div ng-if="!isAuthenticated()" id="dropdown-login-list">
    <div class="dropup">
      <a href class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
        Sign in to leave a comment! <span class="caret"></span>
      </a>
      <ul class="dropdown-menu" role="menu">
        <li><button type="button" class="btn btn-block btn-default btn-social btn-google" ng-click="authenticate('google')">
          <i class="fa fa-fw fa-google-plus"></i>
          Sign in with Google</button></li>
        <li><button type="button" class="btn btn-block btn-default btn-social btn-facebook" ng-click="authenticate('facebook')">
          <i class="fa fa-fw fa-facebook"></i>
          Sign in with Facebook</button></li>
        <li><div class="or">or</div></li>
        <form>
          <input type="text" class="form-control" placeholder="Username or Email">
          <input type="password" class="form-control" placeholder="Password">
          <button id="login-buttons-password" class="btn btn-primary btn-block" type="button">Sign in</button>
          </li>
        </form>
      </ul>
    </div>
  </div>
</div>
