#dropdown-login-list { }

#dropdown-login-list .dropdown-menu {
  min-width: 300px;
  padding: 15px;
}

#dropdown-login-list #forgot-password-link, #dropdown-login-list #signup-link {
  margin-top: 10px;
}

#dropdown-login-list input {
  margin: 0px;
  border-radius: 0px;
}

#dropdown-login-list input:first-of-type {
  margin-top: 0px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

#dropdown-login-list input:last-of-type {
  margin-top: 0px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

#dropdown-login-list .dropdown-menu .or {
  text-align: center;
}

#dropdown-login-list .btn {
  margin-top: 5px;
}

#dropdown-login-list .btn-social {
  position: relative;
  padding-left: 44px;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#dropdown-login-list .btn-social > :first-child {
  position: absolute;
  left: 0px;
  top: 0px;
  bottom: 0px;
  width: 32px;
  line-height: 34px;
  font-size: 1.6em;
  text-align: center;
  border-right: 1px solid rgba(0, 0, 0, 0.2);
}

#dropdown-login-list .btn-google {
  color: white;
  background-color: #dd4b39;
}

#dropdown-login-list .btn-facebook {
  color: white;
  background-color: #3b5998;
}
