.site-comment {
  margin-left: 12px;
  margin-right: 12px;
  border-top: 1px solid #e5e5e5;
  padding-top: 8px;
  padding-bottom: 8px;
  font-size: 12px;
}
.site-comment .media-body {
  line-height: -1.34;
}
.comment-submission {
  margin-left: 12px;
  margin-right: 12px;
  padding-top: 8px;
  padding-bottom: 8px;
}
.comment-submission textarea {
  border-radius: 0px;
}
.site-comment .comment-date {
  color: #555;
  display: inline-block;
  float: right;
  position: relative;
}
