.logo {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  box-shadow: 1px 1px 4px;
  padding-left: 8px;
  padding-right: 8px;
  z-index: 1;
  /* higher than map */
}
.logo span {
  font-family: 'Monserrat', sans-serif;
  color: #fff;
  font-size: 30px;
  opacity: 1;
}
.filter-menu {
  z-index: 1;
  /* higher than map */
  position: absolute;
  top: 60px;
  left: 0;
}
.infoBox {
  z-index: 1;
  /* higher than map */
}
.angular-google-map-container {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}
