
.sidebar {
  display: none; /* hide for mobile; show later */
  @media (min-width: 768px) {
    position: fixed;
    top: @sb-top-offset;
    left: @sb-left-offset;
    z-index: @sb-z-index;
    display: block;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: transparent;
    /* border-right: 1px solid #eee; */
  }
  .sidebar-icon-list {
    margin-bottom: 0;
    li {
      padding: 0px;
      font-size: 30px;
    }
    a {
      .ui-element;
      border-radius: 0px;
      margin: 6px;
      display: block;
      background-color: @sb-li-bg;
      color: @sb-li-color;
      &:hover {
        color: @sb-li-hover-color;
      }
      &.active {
        color: @sb-li-hover-color;
      }
      margin: 6px; /* for box-shadow */
    }
  }
}
.sidebar-extra-box {
  .popup-styling;
  .ui-element;
  display: none; /* hide unless active */
  position: absolute;
  background-color: #fff;
  top: @sb-top-offset;
  left: @sb-left-offset + 39px + 16px;
  z-index: @sb-z-index;
  width: 350px;
  /* max-width: 350px; */
  border: solid black 1px;
  &.active {
    display: block;
  }
  &.search {
    overflow-y: visible;
  }
  margin-top: 6px;

  &.search ul.dropdown-menu {
    position: static;
    width: 100%;
    li {
      cursor: pointer;
    }
  }
}
.popup-styling {
  .header-container {
    border-bottom: solid 1px #c2c2c2;
    margin-bottom: 10px;
    background-color: #101010;
    color: #ffffff;
  }
  h2 {
    font-size: 24px;
    margin-top: 0;
  }
  .header, .content {
    padding: 8px;
  }
  .header {
    margin-bottom: 0;
  }
  .content {
    max-height: 350px;
    overflow-y: scroll;
    margin-bottom: 4px;
  }
}
