@import 'variables';
body {
  /*font-family: 'Lato', sans-serif;*/
  padding-top: 50px;
}
.angular-google-map-container {
  position: absolute;
  /*height: 100%;*/
  height: ~"calc(100% - 50px)";
  width: 100%;
  top: 50px;
}
.branding {
  font-family: 'Anton', sans-serif;
}
.ui-element {
  box-shadow: 0 1px 6px #808080;
  border-radius: 4px;
}
@import 'custom-infowindow.less';
@import 'dropdown-login.less';
@import 'site-comments.less';
@import 'site-info-modal.less';
@import 'sidebar.less';
@import 'infobox.less';
@import 'close-button.less';
