@import 'indigo-swatch';
@import 'box-shadow-helper';

@darkbg-text: rgba(255, 255, 255, 0.87);
@lightbg-text: rgba(0, 0, 0, 0.87);

@lightbg-secondary: rgba(0, 0, 0, 0.54);
@lightbg-hint: rgba(0, 0, 0, 0.26);

body {
  font-family: 'Montserrat', sans-serif;
}
.logo {
  color: @darkbg-text;
  background-color: @indigo-500;
  position: absolute;
  top: 0;
  left: 0;
  height: 48px;
  width: 100%;
  z-index: 1;
  span {
    font-size: 30px;
  }
  .BoxShadowHelper(2);
}

.filter-menu {
  width: 400px;
  color: @lightbg-text;
  h1 {
    font-size: 16px;
    letter-spacing: 0.2em;
    color: @lightbg-hint;
    line-height: 24px;
    margin-top: 12px;
    margin-bottom: 8px;
    margin-left: 8px;
    font-weight: normal;
  }
  h2 {
    margin: 0;
    color: @lightbg-secondary;
    font-size: 14px;
    font-weight: normal;
  }
  li {
    height: 48px;
  }
  z-index: 1; /* higher than map */
  position: absolute;
  top: 84px;
  left: 32px;
  background-color: @indigo-50;
  .BoxShadowHelper(2);
  padding: 8px;
  .slider-container {
    padding-left: 8px;
    padding-right: 8px;
  }
  .col-xs-1 {
    padding: 0;
  }
  .lower-bound, .upper-bound {
    font-weight: bold;
    text-align: right;
    color: @lightbg-secondary;
  }
  .lower-bound {
    padding-right: 8px;
  }
}

.infoBox {
  z-index: 1; /* higher than map */
}
.angular-google-map-container {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  border-width: 0;
}
.ui-slider-horizontal  {
  height: 16px;
  color: rgba(0, 0, 0, 0.26);
  /* This is the invisible slider track (but it responds to clicks) */
  background-color: rgba(0, 0, 0, 0);
  border-width: 0;
  cursor: pointer;
  .ui-slider-handle {
    height: 16px;
    width: 16px;
    border-radius: 50%;
    top: 0;
    background-color: @indigo-500;
    border-color: @indigo-500;
    cursor: pointer;
  }
  .ui-slider-range {
    background-color: @indigo-500;
    height: 2px;
    top: 7px;
  }
}
.ui-slider-track {
  height: 2px;
  background-color: rgba(0, 0, 0, 0.26);
  position: relative;
  top: 7px;
  width: 100%;
}
.ui-slider-track-on {
  height: 2px;
  background-color: @indigo-500;
  position: absolute;
  top: 7px;
  width: 0;
}
.ui-slider-tick {
  position: absolute;
  top: 7px;
  height: 2px;
  width: 2px;
  background-color: @lightbg-text;
}
