
/* Positioning variables */
@navbar-height: 48px;
@infobox-top: @navbar-height + 32px;
@fab-height: 48px;
@fab-width: @fab-height;
@info-button-bottom: @navbar-height + 8px;
@dismiss-button-top: @navbar-height + 8px;
