@darkbg-text: rgba(255, 255, 255, 0.87);
@darkbg-secondary: rgba(255, 255, 255, 0.7);

@lightbg-text: rgba(0, 0, 0, 0.87);
@lightbg-secondary: rgba(0, 0, 0, 0.54);
@lightbg-hint: rgba(0, 0, 0, 0.26);

/* Positioning variables */
@navbar-height: 48px;
@infobox-top: @navbar-height + 32px;
@fab-height: 48px;
@fab-width: @fab-height;
@info-button-bottom: @navbar-height + 8px;
@dismiss-button-top: @navbar-height + 8px;
