<div class="modal-header">
  <h3>About divesit.es</h3>
</div>
<div class="modal-body">
  <p>
  Divesit.es is a web app for locating dive sites.
  </p>

  <p>
  Data for Irish shipwrecks comes from the <a href="http://www.infomar.ie">INFOMAR</a>
  wreck database. Other Irish dive site information is provided by
  <a href="http://www.diving.ie/">Comhairle Fo-Thuinn</a>.
  </p>
  <div style="border-top: solid 1px #d5d5d5; margin-top: 48px; padding-top: 16px">
    <div class="row">
      <div class="col-md-6 text-center">
        <a href="http://www.diving.ie">
        <img src="img/CFT_logo1.png" height="96px" width="96px">
      </a>
      </div>
      <div class="col-md-6 text-center">
        <a href="http://www.infomar.ie">
        <img src="img/infomar_logo_180x175.png" height="96px" width="96px">
      </a>
      </div>
    </div>
  </div>
</div>
