<div class="modal-header">
  <h4>Add site</h4>
</div>
<div class="modal-body form-horizontal">
  <div class="form-group">
    <div class="col-sm-2"> <label for="siteName" class="control-label">Name</label> </div>
    <div class="col-sm-10">
      <input type="text" ng-model="site.name" ng-change="storeChanges()" id="siteName" class="form-control">
    </div>
  </div>
  <!-- Latitude/longitude -->
  <div class="form-group">
    <div class="col-sm-2"><label for="siteLatitude" class="control-label">Latitude</label></div>
    <div class="col-sm-4">
      <input type="text" ng-model="marker.coords.latitude" id="siteLatitude" class="form-control">
    </div>
    <div class="col-sm-2"><label for="siteLongitude" class="control-label">Longitude</label></div>
    <div class="col-sm-4">
      <input type="text" ng-model="marker.coords.longitude" id="siteLongitude" class="form-control">
    </div>
  </div>
  <!-- Depth -->
  <div class="form-group">
    <div class="col-sm-2"><label for="siteDepth" class="control-label">Depth</label></div>
    <div class="col-sm-2">
      <input type="text" ng-model="site.depth" ng-change="storeChanges()" class="form-control">
    </div>
    <div class="form-control-static">
      m
    </div>
  </div>
  <!-- Map -->
  <div ng-if="render" id="addSiteMapContainer">
    <ui-gmap-google-map
    center="map.center"
    control="map.control"
    events="map.events"
    zoom="map.zoom">
    <ui-gmap-marker
    coords="marker.coords"
    options="marker.options"
    events="marker.events"
    idkey="marker.id"></ui-gmap-marker>
    </ui-gmap-google-map>
  </div>
  <div><label for="siteCategory">Category</label></div>
  <div class="col-sm-4 text-center">
    <label for="siteCategoryWreck">Wreck</label>
  </div>
  <div class="col-sm-4 text-center">
    <label for="siteCategoryScenic">Scenic</label>
  </div>
  <div class="col-sm-4 text-center">
    <label for="siteCategoryDrift">Drift</label>
  </div>
  <div class="form-group radio">
    <div class="col-sm-4 text-center">
      <label class="radio-inline">
        <input type="radio" ng-model="site.category" ng-change="storeChanges()" value="wreck"
        name="siteCategory" id="siteCategoryWreck"
        required>
        <img src="/img/icons/wreck.png">
      </label>
    </div>
    <div class="col-sm-4 text-center">
      <label class="radio-inline">
        <input type="radio" ng-model="site.category" ng-change="storeChanges()" value="scenic"
        name="siteCategory" id="siteCategoryScenic"
        required>
        <img src="/img/icons/scenic.png">
      </label>
    </div>
    <div class="col-sm-4 text-center">
      <label class="radio-inline">
        <input type="radio" ng-model="site.category" ng-change="storeChanges()" value="drift"
        name="siteCategory" id="siteCategoryDrift">
        <img src="/img/icons/drift.png"
        required>
      </label>
    </div>
  </div>
  <div class="form-group">
    <button type="button" class="btn btn-default" ng-click="submit()">Submit</button>
  </div>
</div>
