<div id="infobox" ng-show="visible">
  <div class="drag-handle"></div>
  <h4>
    {{ siteInfo.name }}
  </h4>
  <div class="close-button">
    <a href="#" ng-click="hide()">
      <span class="fa-stack">
        <i class="fa fa-fw fa-circle fa-stack-2x"></i>
        <i class="fa fa-fw fa-times fa-stack-1x"></i>
      </span>
    </a>
  </div>
  <div class="content fluid-container">
    <div class="col-xs-4">
      Coordinates
    </div>
    <div class="col-xs-4">
      {{ siteInfo.coordinates.latitude }} &deg; W
    </div>
    <div class="col-xs-4">
      {{ siteInfo.coordinates.longitude }} &deg; N
    </div>
    <div class="col-xs-4">
      Depth
    </div>
    <div class="col-xs-4">
      {{ siteInfo.chart_depth }}m
    </div>
    <site-info-comments></site-info-comments>
  </div>
</div>
