<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <!-- Navbar toggle for smaller screens -->
      <button class="navbar-toggle collapsed" aria-control="navbar" aria-expanded="false"
        data-target="#navbar" data-toggle="collapse" type="button">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <!-- Home button or similar -->
      <a href class="navbar-brand branding"><span class="glyphicon glyphicon-home"></span> DIVESIT.ES</a>
      <!-- RH top navbar stuff -->
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li><a href ng-click="showSubmission()">New site</a></li>
        <li><a href ng-click="showAbout()">About</a></li>
        <li><a href ng-click="showContact()">Contact</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">

        <!-- display if user is authenticated -->
        <li ng-if="isAuthenticated()" class="dropdown">
        <a href class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
          <img ng-src="{{ currentUser.picture }}" width="18px" height="18px" />
          {{ currentUser.displayName }}
          <span class="caret"></span>
        </a>
        <ul class="dropdown-menu" role="menu">
          <li><a href>Profile</a></li>
          <li><a href ng-click="logout()">Sign out</a></li>
        </ul>
        </li>
        <!-- display if user is not authenticated -->
        <li ng-if="!isAuthenticated()" class="dropdown" id="dropdown-login-list">
        <a href class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
          Sign in
          <span class="caret"></span>
        </a>
        <ul class="dropdown-menu" role="menu">
          <li><button type="button" class="btn btn-block btn-default btn-social btn-google" ng-click="authenticate('google')">
            <i class="fa fa-fw fa-google-plus"></i>
            Sign in with Google</button></li>
          <li><button type="button" class="btn btn-block btn-default btn-social btn-facebook" style="margin-top: 5px; background-color: #3b5998; color: #ffffff">
            <i class="fa fa-fw fa-facebook"></i>
            Sign in with Facebook</button></li>
          <li><div class="or">or</div></li>
          <form>
            <input type="text" class="form-control" placeholder="Username or Email">
            <input type="password" class="form-control" placeholder="Password">
            <button id="login-buttons-password" class="btn btn-primary btn-block" type="button">Sign in</button>
            </li>
          </form>
        </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
