<nav class="navbar navbar-inverse navbar-fixed-top">
<div class="container-fluid">
  <div class="navbar-header">
    <!-- Navbar toggle for smaller screens -->
    <button class="navbar-toggle collapsed" aria-control="navbar" aria-expanded="false"
      data-target="#navbar" data-toggle="collapse" type="button">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <!-- Home button or similar -->
    <a href class="navbar-brand branding"><span class="glyphicon glyphicon-home"></span> DIVESIT.ES</a>
    <!-- RH top navbar stuff -->
  </div>
  <div id="navbar" class="navbar-collapse collapse">
    <ul class="nav navbar-nav navbar-right">
      <li><a href>About</a></li>
      <li><a href>Contact</a></li>
      <li><a href>etc.</a></li>
    </ul>
  </div>
</div>
</nav>
