<div class="new-site-modal">
  <div class="container-fluid">
    <h2>New site</h2>
  </div>
  <div class="row" ng-include="'views/partials/site-bits/name.html'">
  </div> 

  <div class="row">
    <div class="col-xs-6" ng-include="'views/partials/site-bits/location.html'"></div>
    <div class="col-xs-6" ng-include="'views/partials/site-bits/image-uploader.html'"></div>
  </div>

  <div class="row">
    <div class="col-sm-4" ng-include="'views/partials/site-bits/site-difficulty.html'"></div>
    <div class="col-sm-4" ng-include="'views/partials/site-bits/maximum-depth.html'"></div>
    <div class="col-sm-4" ng-include="'views/partials/site-bits/entry-types.html'"></div>
  </div>

  <div class="row" ng-include="'views/partials/site-bits/description.html'"></div>

  <div class="row button-row">
    <a class="flat-dialog-button lightbg" href ng-click="close()">CANCEL</a>
    <a class="flat-dialog-button lightbg" href ng-click="submit()">SAVE</a>
  </div>
</div>
