<!-- <script type="text/ng-template" id="typeahead-template.html">
<a>
{{match.model.name}}
</a>
</script> -->
<div class="sidebar">
  <ul class="list-unstyled sidebar-icon-list">
    <li><a ng-click="toggleMenu('filter')" ng-class="{'active': uiVisibility.filter}" href><i class="fa fa-fw fa-filter"></i></a></li>
    <li><a ng-click="toggleMenu('search')" ng-class="{'active': uiVisibility.search}" href><i class="fa fa-fw fa-search"></i></a></li>
    <li><a ng-if="isAuthenticated()" ng-click="toggleMenu('add')" ng-class="{'active': uiVisibility.add}" href><i class="fa fa-fw fa-plus"></i></a></li>
  </ul>
</div>
<!-- extra boxes for content -->
<div class="sidebar-extra-box filter" ng-class="{'active': uiVisibility.filter}">

  <div class="close-button">
    <a href="#" ng-click="toggleMenu('filter')">
      <span class="fa-stack">
        <i class="fa fa-fw fa-circle fa-stack-2x"></i>
        <i class="fa fa-fw fa-times fa-stack-1x"></i>
      </span>
    </a>
  </div>
  <div class="fluid-container">
    <div class="header-container">
      <h2 class="header">Filter sites</h2>
    </div>
    <site-filter-form></site-filter-form>
  </div>
</div>

<div class="sidebar-extra-box search" ng-class="{'active': uiVisibility.search}">
  <div class="close-button">
    <a href="#" ng-click="toggleMenu('search')">
      <span class="fa-stack">
        <i class="fa fa-fw fa-circle fa-stack-2x"></i>
        <i class="fa fa-fw fa-times fa-stack-1x"></i>
      </span>
    </a>
  </div>
  <div class="fluid-container">
    <div class="header-container">
      <h2 class="header">Search</h2>
    </div>
      <div class="col-xs-12 content">
        <input type="text" 
        ng-model="asyncSelected"
        typeahead="site.name for site in loadSiteNamesAsync($viewValue)"
        typeahead-loading="loadingLocations"
        typeahead-on-select="typeaheadOnSelect($item, $model, $label)"
        class="form-control">
        <i ng-show="loadingLocations" class="glyphicon glyphicon-refresh"></i>
      </div>
  </div>
</div>

<div ng-if="isAuthenticated()" class="sidebar-extra-box filter" ng-class="{'active': uiVisibility.add}">
  ADD ADD ADD
</div>
