<h2>Sign in to divesit.es</h2>
<div class="content">
  Sign in using your Facebook or Google account.
</div>
<ul class="list-unstyled social-logins">
  <li><a ng-click="authenticate('facebook')" class="btn form-control btn-social-login btn-facebook" href role="button"><i class="fa fa-facebook"></i>Sign in with Facebook</a></li>
  <li><a ng-click="authenticate('google')" class="btn form-control btn-social-login btn-google" href role="button"><i class="fa fa-google"></i>Sign in with Google</a></li>
</ul>
<div class="content">
  Alternatively, sign in with a divesit.es account.
</div>
<div>
  <div class="form-group">
    <input type="email" class="form-control" placeholder="Email address">
  </div>
  <div class="form-group">
    <input type="password" class="form-control" placeholder="Password">
  </div>
  <button class="btn btn-default btn-sign-in form-control">SIGN IN</button>
</div>
