<form class="form-horizontal">
  <ul class="list-unstyled">
    <li class="media">
    <div class="media-body">
      <div class="checkbox">
        <label><input ng-model="preferences.categories.wreck"
          ng-change="filterSites('{{WRECK}}', preferences.categories.wreck)"
          type="checkbox">
          Wreck
        </label>
      </div>
    </div>
    <div class="media-right">
      <img class="media-object" ng-src="/img/icons/{{WRECK}}.png">
    </div>
    </li>
    <li class="media">
    <div class="media-body">
      <div class="checkbox">
        <label><input ng-model="preferences.categories.scenic"
          ng-change="filterSites('{{SCENIC}}', preferences.categories.scenic)"
          type="checkbox"> Scenic</label>
      </div>
    </div>
    <div class="media-right">
      <img class="media-object" ng-src="/img/icons/{{SCENIC}}.png">
    </div>
    </li>
    <li class="media">
    <div class="media-body">
      <div class="checkbox">
        <label><input ng-model="preferences.categories.drift"
          ng-change="filterSites('{{DRIFT}}', preferences.categories.drift)"
          type="checkbox"> Drift</label>
      </div>
    </div>
    <div class="media-right">
      <img class="media-object" ng-src="/img/icons/{{DRIFT}}.png">
    </div>
    </li>
    <li>
      <label>
      Filter by depth:
      <span slider
        slider-id="rangeSlider"
        ng-model="preferences.depthRange"
        min="0"
        max="100"
        range="true"
        tooltipseparator=":"
        tooltipsplit="true"
        on-slide="onSlide()"
        formater="formatSliderTooltip"
        ></span>
      </label>
    </li>
  </ul>
</form>
