<div class="modal-header">
  <h3>{{ site.name }}</h3>
</div>
<div class="modal-body site-info">
  <!-- important info -->
  <table class="table">
    <tbody>
    <tr>
      <td> <b>GPS:</b> </td>
      <td> {{ site.coordinates.latitude }}, {{ site.coordinates.longitude }} </td>
    </tr>
    <tr>
      <td><b>Chart depth:</b></td>
      <td> {{site.chart_depth | roundDepth}} m</td>
    </tr>
    </tbody>
  </table>
  <!-- Site description: dummied out -->
  <site-info-description></site-info-description>
  <!-- Site images: dummied out -->
  <site-info-images ng-if="false"></site-info-images>
  <!-- Site comments: dummied out -->
  <site-info-comments ng-if="false"></site-info-comments>
</div>
